/*Body*/
body {
    background color: #EDEDED;
}
/* Navbar */
.navbar {
    max-height: 57px;
}
.navigation .navbar-brand{
    color:white
    margin-left: 30px
    padding: inherit;
    font-weight: bold;
    background-color: #0BADA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    background-color: black;
    font-size: 20px;
}
.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:#E7E7E7 !important;
}
.dropdown-item{
    color: #6D8092;
    font-size: 15px;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #E7E7E7 !important;
}
a{
    color: #6D8092;
    font-size: 15px;
}
.nav-link:hover{
    background-color:#E7E7E7 !important;
}
.navbar-brand:hover{
    color: rgb(175, 175, 175) !important;
}
